stages:
  - build
  - infra
  - configure
  - deploy

variables:
  TF_VAR_region: "eu-central-1"
  TF_VAR_key_pair_name: "gitlab-ci"
  TF_VAR_public_key_path: "/root/.ssh/gitlab-ci.pub"
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: docker:27
  services:
    - docker:dind
  script:
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
  only:
    - main

terraform:
  stage: infra
  image: alpine:3.18
  before_script:
    - apk add --no-cache terraform openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/gitlab-ci
    - chmod 600 ~/.ssh/gitlab-ci
    - echo "$SSH_PUBLIC_KEY" > ~/.ssh/gitlab-ci.pub
  script:
    - cd infra/terraform
    - terraform init -reconfigure
    - terraform validate
    - terraform plan -out=tfplan
    - terraform apply -auto-approve tfplan
    - terraform output -raw ec2_public_ip > ../../EC2_PUBLIC_IP.txt
  artifacts:
    paths:
      - EC2_PUBLIC_IP.txt
  only:
    - main

configure:
  stage: configure
  image: python:3.12
  before_script:
    - apt-get update && apt-get install -y openssh-client ansible
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/gitlab-ci
    - chmod 600 ~/.ssh/gitlab-ci
    - export EC2_HOST=$(cat EC2_PUBLIC_IP.txt)
    - echo -e "[app]\n$EC2_HOST" > infra/ansible/inventory.ini
    - export ANSIBLE_HOST_KEY_CHECKING=False
  script:
    - cd infra/ansible
    - ansible-playbook -i inventory.ini playbook.yml --private-key ~/.ssh/gitlab-ci -u ubuntu -e DOCKER_IMAGE=$DOCKER_IMAGE
  only:
    - main
  dependencies:
    - terraform

deploy:
  stage: deploy
  image: alpine:3.18
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/gitlab-ci
    - chmod 600 ~/.ssh/gitlab-ci
  script:
    - export EC2_HOST=$(cat EC2_PUBLIC_IP.txt)
    - ssh -i ~/.ssh/gitlab-ci -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST "
        cd /home/ubuntu/retrofun_api &&
        docker compose ps &&
        docker compose logs --tail=50
      "
  only:
    - main
  dependencies:
    - configure
