networks:
  retrofun:
    driver: bridge

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - retrofun
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql
  api:
    image: ${DOCKER_IMAGE}
    restart: unless-stopped
    # ports:
    #   - "8000:8000"
    depends_on:
      db: 
        condition: service_healthy
    environment:
      DATABASE_URL: ${DATABASE_URL}
    networks:
      - retrofun
    env_file:
      - .env
    expose:
      - "8000"
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
    networks:
      - retrofun
volumes:
  db-data:
