- name: Configure EC2 with Docker and pull application
  hosts: app
  become: true
  vars_files:
    - ../.env.example

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name:
          - docker.io
          - docker-compose
          - git
          - make
        state: present

    - name: Ensure docker group for ubuntu
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Create app folder
      file:
        path: /home/ubuntu/retrofun_api
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Clone app repo
      git:
        repo: https://gitlab.com/joaosr-group/retrofun_api.git
        dest: /home/ubuntu/retrofun_api
        version: main
        force: yes
        accept_hostkey: yes

    - name: Create .env file
      copy:
        dest: /home/ubuntu/retrofun_api/.env
        content: |
          DATABASE_NAME={{ DATABASE_NAME }}
          DATABASE_USERNAME={{ DATABASE_USERNAME }}
          DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
          DATABASE_URL={{ DATABASE_URL }}
          DOCKER_IMAGE={{ DOCKER_IMAGE }}

    - name: Run app using docker-compose
      shell: |
        cd /home/ubuntu/retrofun_api
        docker compose down --remove-orphans || true
        docker compose pull
        make docker
      args:
        executable: /bin/bash
